{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <div>
              <h5 class="text-center"><strong>Enter project details</strong></h5>
              <div class="form-data">
                  <form action="{% url 'add_blog' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form form%}
                      <button class="submitproj-btn" type="submit">ADD BLOG</button>
                      <input type="hidden" name="next" value="{{next}}">    
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}