{%extends 'base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% for blog in blog %}
        <div class="col-sm-8 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h5>{{blog.title}}</h5>
                </div>
                <div class="card-body">
         
         <!-- <img src="{{blog.image.url}}" class="img-responsive" alt="Image"height="300px"width="100%">
       </div> -->
       <div class="card-body">
                                
        <img src="{{blog.image.url}}" class="img-fluid"
        alt="Project Display Screenshot">
        <h2 class="text-center">Description</h2>
        <p class="card-text">{{blog.description}}</p>
        
        <a class="btn btn-info" href="{% url 'blogdetails' blog_id=blog.id%}" class="thumbnail">read more</a>
       
            <!-- <a href="post/{{blog.id}}/like"><i class="fas fa-heart like_u"></i></a> -->
            <!-- <button type="submit" class="btn" style="margin-bottom: 1%; background-color: rgb(172, 24, 73); color: white;">Comment</button> -->
        </form>
    </div>
      
       {% endfor %}
       </div>
       </div>
       </div>
       
       {% endblock %}

    </div>