{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid" id="profile">
    <div class="row" id="top">
        <div class="col-sm-2 col-md-4" style="margin-top: 7%;">
        </div>
        <div class="col-sm-3 col-md-5">
            <img src="{{user.profile.profile_pic.url}}" alt="" id="profilepic" class="img-fluid">
            <form  action="{%url 'edit_profile'%}" method="post" enctype="multipart/form-data" style="margin-top:10%;">
                  {% csrf_token %}
              
                  {% bootstrap_form form layout='inline'%}
                  <input type="submit" class="btn-lg btn-outline-info" value="Update">
            </form>
            <div style="margin-top:1%;">
                <p>{{user.profile.bio}}</p>
            </div>
        </div>
    </div>
    <div class="nav navbar-nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>

            
        </div>
    </div>
</div>
{% endblock %}