{% load bootstrap4 %}
{% load static%}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> 
  <div class="row">
    
    <div class="col-md-12 ">
      <nav class="navbar fixed-top" style="background-color: #082835;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" style= color:white; href="{% url 'welcome' %}">ACE</a>
            
              <a  href="/user/" style= color:white;>Profile</a>
            
            {% if user.is_authenticated %}
            
              <a  href="/accounts/logout/" style= color:white;>Logout</a>
            
    
            {% else %}
            
              <a href="/accounts/login/" style= color:white;>Login</a>
         
            
              <a  href="/accounts/register/" style= color:white;>Sign up</a>
            
            {% endif %}

          </div>
          <li class="btn btn-info">
            <a  class="nav-link active" aria-current="page" href="/profile/addblog" target="_blank" style= color:white;>Add Blog</a>
          </li>
          <!-- <li class="btn btn-default">
            <a href="api/blog/" target="_blank">Blogs</a>
          </li> -->
          <!-- Adding a search form  -->
          <div class="col-sm-2 col-md-2 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search' %}">

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog" name="business" style="border-radius: 28px;">
                <div class="input-group-btn">
                  <!-- <button class="btn btn-warning" type="submit"><i class="glyphicon glyphicon-search"style="border-radius: 28px;">search</i></button> -->
                </div>
              </div>

            </form>
          </div>
          <!-- search form end -->
          <a class="right" href="{% url 'edit_profile' %}" style="margin: 10px;">
           
          <a style="color: black; padding-left: 15px; " href="/logout"><i class="fa fa-sign-out" style="font-size:24px; color: rgb(228, 235, 236);"></i></a>
         
        </div>
      </nav>
    </div>
  </div>
  </div>
</body>
</html>